<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem harum, vitae suscipit libero dolorum ullam non nihil voluptas autem quam.</h4>
    <br><br>

  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="thumbnail">
      <%= image_tag "mustakis.png", width: 200 %> <br>
      <%= image_tag "zeus.jpg" %>
      <div class="caption">
        <h2><b>Eres Zeus!</b></h2><br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ad?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione odio ex quos quae nulla, recusandae quaerat voluptatibus fuga ullam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi saepe voluptatum illum doloremque quisquam adipisci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat rerum vitae unde voluptatem, nesciunt harum ab quam molestias quibusdam quaerat enim eum, labore id atque? Voluptatem iste voluptate a perspiciatis quaerat harum animi enim dolorum, corporis optio id, aut asperiores quia vel quae odit labore provident sed quasi neque?</p>
        <br>
        <h4 class="bold">Tenemos algunos talleres que te pueden interesar. Aprovecha, son gratuitos!</h4>
        <br><br>
        <p><a href="http://www.fundacionmustakis.com" class="btn btn-primary" role="button">¿Quieres saber más?</a> </p>
      </div>
    </div>
  </div>
</div>
