<div class="jumbotron">
  <h1>¿Qué dios griego eres?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae, quos sequi animi quaerat repellat aliquid eos rerum accusamus voluptatem.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= games_one_path %>" role="button">Jugar</a></p>
</div>
<footer>
  <br><br><br>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-8">



      <%= image_tag "mustakis.png", class: "img-responsive" %>

    </div>
  </div>

</footer>
